body {
	background-image: url("https://db3pap006files.storage.live.com/y4mToWu8Soip7zXThRml9fLQbOarDOWSXd1BYbCZUWatgO9RxUn0eEACaH4AxwYA57O-mdwpNTgy-spYUotJ8d9QGkE5H0zVn3fK5ErBo2mIcFEOFRQbd3PM85sDsnLW0DBRtoFwknOju1CNBKWamXSfKOMadts1wnwK9zLsq1GPWw02JYqQmOgQ9pRqPjMsB3v?width=1600&height=1200&cropmode=none")
}

* {
	text-align: center;
}

p {
	color: black;
    font-size: 35px;
    font-family: Tahoma;
}


div {
	background-color: rgba(242, 242, 242, 0.95);
    position: relative;
    top: 100px;
    display: block;
  	margin-left: auto;
 	margin-right: auto;
    max-width: 700px;
    padding: 85px;
}
.play {
	padding: 15px 25px;
    position: relative;
    top: 50px;
    right: 5px;
  	font-size: 30px;
  	text-align: center;
  	cursor: pointer;
  	outline: none;
  	color: #fff;
  	background-color: #ff2929;
  	border: none;
  	border-radius: 15px;
  	box-shadow: 0 9px #999;
}

.play:hover {
	background-color: #e11212;
}

.play:active {
  	box-shadow: 0 5px #666;
  	transform: translateY(4px);
}

a:link, a:visited, a:hover, a:active {
	text-decoration: none; 
}

.login-in {
	position: relative;
    top: -200px;
    left: -430px;
    cursor: pointer;
    font-size: 25px;
}