body {
	background-image: url("https://db3pap006files.storage.live.com/y4meKebApzsHyGaRN0G5kxnzr5Etba-8lHmHzD6Y3jrJDzeXNyS1L_1j3pV5RTF1Y3433798caPVzRujw5C0du5VQb65Xb9IV0sURjVk4uECgihPhlWyEv7oq5UBlcMc5U0ZcrjyV1SfgTIad48N8AZg21f5CEFg2wMETCX34fxGbZI9csiFYr-e8BKnSerPceC?width=1920&height=1080&cropmode=none");
}

* {
	font-family: Tahoma;
    text-align: center;
}

.back {
	display: inline-block;
	position: absolute;
	top: 0px;
	left: 0px;
}

pre, h1 {
	color: white;
}

h1 {
	font-family: Georgia;
}

input[type=text] {
	padding: 12px 20px;
    color: blue;
    border: none;
}

input[type=submit] {
	display: none;
}

.help {
	margin: auto;
}

.helpIcon {
	text-align: left;
}