{% extends "layout_login.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="en" >
    <head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Asap" rel="stylesheet"><link rel="stylesheet" href="./style.css">
    </head>

    <body>
    <!-- partial:index.partial.html -->
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/login.css') }}">
        <form action="/login" method="POST" class="login">
            <input name="username" type="text" placeholder="Username">
            <input name="password" type="password" placeholder="Password">
            <button>Login</button>
        </form>

    {% if warning %}
        <p class=Warning>Incorrect username or password. Please enter a valid information.</p>
    {% endif %}

    <h1>Log in</h1>
    {% if not warning %}
        <p class="signIn">or <a href="{{ url_for('SignUp') }}">sign up</a></p>
    {% else %}
        <p class="signInFixed">or <a href="{{ url_for('SignUp') }}">sign up</a></p>
    {% endif %}
    </body>
</html>

{% endblock %}