{% extends "layout_profile.html" %}
{% block content %}

<!DOCTYPE html>
<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/profile.css') }}">
    </head>

    <body>
        <a href="/games">
            <img class="back" src="https://db3pap006files.storage.live.com/y4mS0opryAjduZX_STu2Hvpx3awL65JqsK0CtNzF9dAPvGLRT7tVe5C4vGI6AQptrXg5aGqqRkH-srX5BbdWVR7OgAkBFbdbZuUn2yUSEFZXuU0e4mdaBR1zreyAa8hEv8aikMwlSSU1duK_I431m8WeR6nr3L-oqwMQegsYaWqjnf7GE_02krrxmk4Ja0wXaee?width=1024&height=1024&cropmode=none"
                 width=50px height=50px>
        </a>

        {% if not not_signed_in %}
            <form method="POST" class="profile">
                <img src="https://db3pap006files.storage.live.com/y4m9W1Bvzikq8N9B4CzrodhvetLBQfL27DXNuyd23VdUVghE_uKiXuViuhYGHQNaB4gja9OMsn0rlVjvSSRdq-NJfv6V19iNkcUD-lu8RvnFHEmIiXtS0IN1VAXFeFyDfDj5BAM8QwMEEkCS9l8YZKKTMkgTsOEivnOGhjQy7WLv9BWwUbFQ0IIDQF_uoY5_YQL?width=200&height=200&cropmode=none">
                <h3>Name: {{ name }}</h3>
                <h3>Email: {{ email }}</h3>
            </form>
        {% else %}
            <form class="profile">
                <h2>Create an account to show profile</h2>
                <h4><a class="Create" href="{{ url_for('SignUp') }}">Create Now!</a></h4>
            </form>
        {% endif %}
    
    </body>
</html>

{% endblock %}