{% extends "layout.html" %}
{% block content %}

<!DOCTYPE html>
    <!-- Vairables: cetnral_corridor, laser_weapon_armory, the_bridge, escape_pod -->
    <html>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/rooms.css') }}">
        <body>
            <h1>Gothons from planet percal #25</h1>
            <!-- ROOMS -->
            <a href="/games">
                <img class="back" src="https://db3pap006files.storage.live.com/y4mS0opryAjduZX_STu2Hvpx3awL65JqsK0CtNzF9dAPvGLRT7tVe5C4vGI6AQptrXg5aGqqRkH-srX5BbdWVR7OgAkBFbdbZuUn2yUSEFZXuU0e4mdaBR1zreyAa8hEv8aikMwlSSU1duK_I431m8WeR6nr3L-oqwMQegsYaWqjnf7GE_02krrxmk4Ja0wXaee?width=1024&height=1024&cropmode=none"
                    width=50px height=50px>
            </a>
            <div class="container">
              <div>
                {% if not completed %}
                  <a href="/GothonsFromPlanetPercal?room_name=central_corridor">
                    <img src="https://db3pap006files.storage.live.com/y4m1dxZrNc4twXteP1eUFfLZh6bGjPeei-cBIEOy6M8LvN0iRC3MQXNz5PgmflQRAwbJK6NKNbsuBEh_wCa_csZ4RbdMZSlLnWn7v7XEt2lSz6dXUyPb_AVGe0KHYIWzW3Bl-feeJStnUROYvkY8qI6B90tZCJKFIYwuN8ncJ1PTZRNQ7ExxgOf18z0iHDMVc6X?width=1280&height=982&cropmode=none">
                  </a>

                {% else %}
                    <span>
                        Completed!
                    </span>
                  {% endif %}

                {% if laser_weapon_armory == 'unlocked' and not completed %}
                    <a href="/GothonsFromPlanetPercal?room_name=laser_weapon_armory">
                        <img src="https://db3pap006files.storage.live.com/y4mdrFjz_xYeUNC3clIIrPwDD-seAFVaqABGof0oXuMRXpJTWcs-UO4nBYpx_QGvgLMDIQQiV2gQPwnycS584XJu3026BBUdeqLWKuUXjpMEd6S9MScmPJ8cV4J6WIyCG4sdVqykegg8YQdCdZ_STRjCpaf145KeJnNVmb2F-thRVKzYSlRn8d48DGwH6_iJK_5?width=1259&height=981&cropmode=none">
                    </a>
                {% else %}
                    {% if not completed %}
                        <img src="https://db3pap006files.storage.live.com/y4mZZYHAAhC12gA21vQIj-YSilc_WkhdXFBb-EdSXYdlnnMSw3eq-jvuD4i6iXj5Ojhs1PxPxJReogGvFQn-pG8h98Sz_BSf2eOila-7fz2yNRazpRFRKwX444HJuKT0j76mreRHo2_EjAlZUiEvQAFFfMWoB2YWYHP18eRK8dAHiOM47krAguPrse1NVj8QGx-?width=1259&height=981&cropmode=none">
                        {% endif %}
                {% endif %}

                {% if the_bridge == 'unlocked' and not completed %}
                    <a href="//GothonsFromPlanetPercal?room_name=the_bridge">
                        <img src="https://db3pap006files.storage.live.com/y4mw9CV-MR5gpKQjsWWgGGg7A2u3GrHHJUZemYfMDbgv9MPqGCTIr2P4ybg6K0FSUD8fidNsT9fllHtPi_jXG8GPmDHdQq2Mz_HSOHuvKWG5XwnRy2gNBy8dnBezBiQQ_5U8HgImDo1KzgGCKxuiS0X9yb-sNlZ5mmryvJH1AEw186753RUO1G5jLhqiCcMCZ9A?width=1280&height=982&cropmode=none">
                    </a>
                {% else %}
                    {% if not completed %}
                        <img src="https://db3pap006files.storage.live.com/y4mf8EAq94YitbOF1-JGXctdtLIatNoBZT6-TMgW3gfRcet5etll5Id9DEizZ9Lj_vRf2N-QPa_89-FnorzErwDrw57EXhePL-XLf6GCaghdBqA7hhQj8z_AVXUN8EnwXlKWEfGlldajtZDJ9aIBCZWASVU8wWseaJNBH5pfiAITZAg5vguy7bUONiYZ7wBJkj2?width=1280&height=982&cropmode=none">
                    {% endif %}
                {% endif %}
              </div>
              <div2>
                {% if escape_pod == 'unlocked' and not completed %}
                <a href="//GothonsFromPlanetPercal?room_name=escape_pod">
                    <img src="https://db3pap006files.storage.live.com/y4mSjsyKceMki4p5Ys1C515iTucVHZnzj8IIHX0OJngyFmNRkalvm6h3vy5-phcRKXGQSIT9IuOmNoznL9yak9M-smwlPPHvzJgIzLX-09sIo1EzaOmd1CmUiCqOxhxWywMnJNYdtpm1RfF9gPWx2OTz6e2Kr4eqYR8CAvg9J61hy4aTE_XX_-9NYU07HYuwp2V?width=1280&height=982&cropmode=none">
                </a>
                {% else %}

                {% if not completed%}
                    <img src="https://db3pap006files.storage.live.com/y4mAQiXGwxYZy4iY8hoCgbuEyTeprO6j74LuXo71ZaU1NJRc8anTLCN6Lo97GkQ44prmAlXVU2rm6_NYtily5V6KaZwf-_Rd1xwAa39kRsFlEE_X0xUUQw7YqfxOoj1c76Q1kMwf3evp2T78J-3cvgJHSXB23aBCsvPtry9daJGINN49q6SKu7pPvqR4NFHMDdp?width=1280&height=982&cropmode=none">
                    {% endif %}
                {% endif %}
              </div2>
            <container>
        </body>
    </html>

{% endblock %}