{% extends "layout.html" %}
{% block content %}

<!DOCTYPE html>
<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/style.css') }}">
    </head>
    <body>
        <h1>You Died!</h1>
        <p style="color: white"> DOES NOT COMPUTE! </p>
        <p style="color: white">Looks like you bit the dust.</p>
        <p>
            <a href="/GothonsFromPlanetPercal">
                Play Again 
            </a>
        </p>
    </body>
</html>

{% endblock %}